<% content_for :title, "New Schedule" %>
<div style="justify-content: center; padding:10%;">
  <div class="card">  
    <%= render "form", schedule: @schedule %>
    <div>
    <br>
  </div>
  </div>
</div>