<div id="flash">
  <% if flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p style="color: green;"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p style="color: red;"><%= flash[:error] %></p>
  <% end %>
</div>
