<div class="px-4 py-2 border-bottom">
  <div class="col-12 row justify-content-between align-items-center">
    <% if @schedule %>
      <a class="col-3 schedule-name" href=<%= schedule_path(@schedule) %>>
        <div class="h1">
          <%= @schedule.schedule_name %>
        </div>
      </a>
    <% else %>
      <div class="col-3 schedule-name">
        <div class="h1">No Schedule Available</div>
      </div>
    <% end %>
  </div>
</div>
