<section class="login-page">
    <div class="logo">AggieAssign</div>
    <div class="google"></div>
    <p><%= button_to "Sign in with Google", "/auth/google_oauth2", data: {turbo: "false"}, class: "login-button" %></p>
</section>

