<div class="px-4 py-2 border-bottom">
    <div class="col-12 row justify-content-between align-items-center">
        <div class="col-3 h1">
            Fall 2024
        </div>
        <div class="col-6 row justify-content-end align-items-center" style="height: 2.5em;">
            <button class="col btn btn-secondary px-4 mx-1">
                Add Predefined Courses
            </button>
            <button class="col btn btn-dark px-4">
                Export
            </button>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-sm navbar-light border-bottom border-2 border-secondary px-4 pb-0 fw-bold">
  <div class="collapse navbar-collapse" id="scheduleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Instructors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Time Slots</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <table class="table col-8">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Campus</th>
            <th scope="col">Building Code</th>
            <th scope="col">Room Number</th>
            <th scope="col">Capacity</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            <% @rooms.each do |room| %>
            <tr>
                <td><%= room.campus %></td>
                <td><%= room.building_code %></td>
                <td><%= room.room_number %></td>
                <td><%= room.capacity %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
