/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 body {
   font-family: "Lato", sans-serif;
   margin: 0px;
 }

 .login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .login-page .logo {
    font-size: 72px;
    font-weight: 900;
 }

 .login-button {
    padding: 10px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .header {
   width: 100%;
   height: 3rem;
   left: 0px;
   top: 0px;
   box-sizing: border-box;
   background: #FFFFFF;
   border: 1px solid #D9D9D9;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header .header-logo {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 140%;
   margin-inline-start: 2rem;
   display: flex;
   align-items: center;
   color: #000000;
 }

 #home-button {
  text-decoration: none;
  color: #000000;
 }

 .header .profile-section {
   margin-inline-end: 2rem;
   display: flex;
 }

 #scheduleNavbar .nav-item .nav-link {
  padding-inline: 16px;
 }

 #scheduleNavbar .nav-item .nav-link.active {
  background: var(--bs-dark);
  color: var(--bs-white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 }

.sortable-link {
  text-decoration: none;
  color: var(--bs-white);
}

.sortable-link:after {
  content: " ▲"; /* Up arrow for ascending */
}

.sortable-link.desc:after {
  content: " ▼"; /* Down arrow for descending */
}

.schedule-name {
  text-decoration: none;
  color: #000000;
}